---
import { getWooparoos } from "../lib/microcms";
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table"


const response = await getWooparoos({
  fields: ["id", "name", "image", "egg_image", "type", "time"],
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ウパルオデッセイ 攻略</title>
  </head>
  <body>
    <main>
      <Table>
        <TableHeader>
          <TableRow>
            <TableHead>名前</TableHead>
            <TableHead>ウパルの画像</TableHead>
            <TableHead>召喚石の画像</TableHead>
            <TableHead>属性</TableHead>
            <TableHead>召喚時間</TableHead>
          </TableRow>
        </TableHeader>
        <TableBody>
          {response.contents &&
            response.contents.map((content: any) => (
              <TableRow>
                <TableCell>{content.name}</TableCell>
                <TableCell>
                  <img src={`${content.image.url}?fit=crop&w=100&h=100`} />
                </TableCell>
                <TableCell>
                  <img src={`${content.egg_image.url}?fit=crop&w=100&h=100`} />
                </TableCell>
                <TableCell>{content.type}</TableCell>
                <TableCell>{content.time}</TableCell>
              </TableRow>
            ))}
        </TableBody>
      </Table>
    </main>
  </body>
</html>